.hero {
    position: relative;
    aspect-ratio: 16 / 9;
    display: flex;
    justify-content: flex-start;
}

.image-wrapper {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.hero__image {
    width: 100%;
    height: 100%;
}

.hero__content {
    align-self: center;
    flex-shrink: 0;
}

.content-container {
    min-width: 1110px;
    margin: 0 auto;
}

.hero__content-title {
    font-size: 55px;
    line-height: 100%;
    max-width: 560px;
    margin-bottom: 30px;
}

.hero__content-subtitle {
    margin-bottom: 65px;
}

.hero__controls {
    display: flex;
    gap: 20px;
}

.hero__controls-button {
    background-color: var(--button-bg-color-light, #FFFFFF);
    border: transparent;
    text-decoration: none;
}

