@font-face {
    font-family: "20 Kopeek Book";
    src: url("../assets/fonts/20-kopeek-book.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "20 Kopeek";
    src: url("../assets/fonts/20-kopeek.woff2");
    font-weight: 400;
}
