.header {
    position: absolute;
    top: 31px;
    left: 0;
    right: 0;
    margin: auto;
    color: var(--add-text-color, #FFFFFF);
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    text-decoration: none;
    margin-right: 22px;
}

.nav__description {
    display: inline-block;
    max-width: 194px;
}

.contacts {
    display: flex;
}

.contacts__item {
    padding: 7px 30px;
    border-radius: 15px;
    font-style: normal;
    border: 1px solid var(--border-color-light, #FFFFFF);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    max-height: 36px;
    margin-right: 23px;
}

.contacts__phone {
    text-decoration: none;
    font-family: "20 Kopeek", sans-serif;
    font-size: 16px;
    color: inherit;
}

.contacts__social-media {
    display: flex;
    margin: 0;
    gap: 23px;
    list-style: none;
    padding: 0;
}

.social-media__item {
    border: 1px solid var(--border-color-light, #FFFFFF);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.burger-menu {
    display: none;
}


@media (max-width: 992px) {
    .nav__description {
        font-size: 14px;
        line-height: 128%;
    }

    .contacts__item {
        margin-right: 28px;
    }

    .contacts__social-media {
        gap: 28px;
    }
}

@media (max-width: 768px) {
    .contacts {
        display: none;
    }

    .burger-menu {
        display: block;
        z-index: var(--ui-index-6);
        color: #f5f2f2;
    }

    .header-container {
        align-items: center;
    }
}

@media (max-width: 576px) {
    .nav__description {
        font-size: 12px;
        line-height: 133%;
        max-width: 164px;
    }
}

@media (max-width: 360px) {
    .nav__description {
        max-width: 106px;
        line-height: 110%;
    }
}

