.hero {
    position: relative;
    aspect-ratio: 16 / 9;
    display: flex;
    justify-content: flex-start;
}

.image-wrapper {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.hero__image {
    width: 100%;
    height: 100%;
}

.hero__content {
    align-self: center;
    flex-grow: 2;
}

.hero__content-title {
    font-size: 55px;
    line-height: 100%;
    max-width: 560px;
    margin-bottom: 30px;
}

.hero__content-subtitle {
    margin-bottom: 65px;
    max-width: 528px;
}

.hero__controls {
    display: flex;
    gap: 20px;
    max-width: 435px;
}

.hero__controls-button {
    background-color: var(--button-bg-color-light, #FFFFFF);
    border: transparent;
    text-decoration: none;
}


@media (max-width: 992px) {
    .hero__content-title {
        font-size: 45px;
        margin-bottom: 25px;
    }

    .hero__content-subtitle {
        font-size: 26px;
        margin-bottom: 55px;
    }
}

@media (max-width: 768px) {
    .hero {
        height: 1024px;
        aspect-ratio: unset;
    }

    .hero__content {
        color: var(--text-color, #FFFFFF);
    }

    .hero__content-subtitle {
        margin-bottom: 78px;
    }

    .hero__controls {
        flex-direction: column;
        gap: 42px;
    }

    .hero__controls-button {
        max-width: 214px;
    }

    .image-wrapper {
        object-position: right;
    }

    .hero__image {
        object-position: left;
        object-fit: cover;
    }
}

@media (max-width: 576px) {
    .hero {
        height: 496px;
    }

    .hero__content-title {
        font-size: 30px;
        margin-bottom: 15px;
        margin-top: 0;
        max-width: 330px;
    }

    .hero__content-subtitle {
        font-size: 20px;
        margin-bottom: 25px;
        max-width: 185px;
    }

    .hero__controls {
        gap: 20px;
        max-width: 250px;
    }

    .hero__controls-button {
        font-size: 15px;
        max-width: 206px;
        padding: 14px 47px;
    }
}

@media (max-width: 360px) {
    .hero {
        height: 100vh;
    }

    .hero__content-title {
        max-width: 240px;
    }

    .hero__content-subtitle {
        margin-bottom: 40px;
    }

    .hero__image {
        object-position: -110px;
        object-fit: cover;
    }
}
