:root {
    --white-color: #FFFFFF;
    --black-color: #000000FF;
}

.notes {
    font-family: "20 Kopeek", sans-serif;
    font-size: 15px;
    line-height: 127%;
}

.h1 {
    font-family:  "20 Kopeek Book", sans-serif;
    font-size: 45px;
    line-height: 100%;
}

.h2 {
    font-family: "20 Kopeek Book", sans-serif;
    font-size: 34px;
    line-height: 109%;
}

.body {
    font-family: "20 Kopeek", sans-serif;
    font-size: 18px;
    line-height: 139%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.button {
    padding: 19px 47px;
    border-radius: 40px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid var(--black-color, #000000FF);
    color: var(--black-color, #000000FF);
    display: flex;
    align-items: center;
}
